<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title th:text="'Category: ' + ${category.name}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/animation.css" />
</head>

<body>
	<div class="container admin category">
		<header>
			<a href="/admin/categories">Go Back</a>
			<h1 th:text="${category.name}" />
		</header>
		<section class="product-creator">
			<h2>Product Creator</h2>
			<form th:action="@{'/admin/categories/' + ${category.id} + '/products'}" method="post" class="product-creator">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<h3>Type</h3>
				<label for="type-product">Product</label>
				<input type="radio" name="type" value="Product" id="type-product" />
				<br />
				<label for="type-limited-product">Limited Product</label>
				<input type="radio" name="type" value="LimitedProduct" id="type-limited-product" />
				<br />
				<label for="type-priced-product">Priced Product</label>
				<input type="radio" name="type" value="PricedProduct" id="type-priced-product" />
				<br />
				<label for="product-name">Name</label>
				<input id="product-name" type="text" name="productName" />
				<br />
				<label for="image">Image Path</label>
				<input id="image" type="text" name="image" />
				<br />
				<label for="maximumQuantity" class="reveal-if-limited-product reveal-if-priced-product">Maximum Quantity</label>
				<input type="number" name="maximumQuantity" id="maximumQuantity" class="reveal-if-limited-product reveal-if-priced-product" />
				<br />
				<label for="valueInCurrency" class="reveal-if-priced-product">Price</label>
				<input type="number" name="valueInCurrency" id="valueInCurrency" class="reveal-if-priced-product" />
				<br />
				<label for="currencyId" class="reveal-if-priced-product">Currency</label>
				<select name="currencyId" id="currencyId" class="reveal-if-priced-product">
					<option disabled>Currency</option>
					<option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.name}" />
				</select>
				<br />
				<input type="submit" />
			</form>
		</section>
		<section class="products">
			<h2>Products</h2>
			<table>
				<tr>
					<th>Name</th>
					<th>Image</th>
					<th>Maximum Quantity</th>
					<th>Price</th>
					<th>Currency</th>
				</tr>
				<tr th:each="product : ${category.products}">
					<td>
						<a th:href="${product.name}" />
					</td>
					<td th:text="${product.image}" />
					<td th:if="${product.maximumQuantity != null}" th:text="${product.maximumQuantity}" />
					<td th:text="${product?.price}" />
					<td th:text="${product?.currency.name}" />
				</tr>
			</table>
		</section>
	</div>
</body>

</html>