<html>

<head>
	<title th:text="${currency.name}" />
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	<div class="container admin currency">
		<header>
			<a href="/admin/currencies">Go Back</a>
			<h1 th:text="${currency.name}" />
		</header>
		<main>
			<section class="currency-details">
				<h2>Currency Details</h2>

				<form th:object="${currency}">
					<p>
						<span>ID:</span>
						<span id="id"> th:text="*{id}"</span>
					</p>

					<label for="name">Name:</label>
					<input class="name" type="text" th:field="*{name}" />

					<br />

					<label for="unit">Unit:</label>
					<input class="unit" type="text" th:field=*{unit} />

					<br />

					<label for="name">Allowance:</label>
					<input class="allowanceMap" type="text" th:field="*{getAllowanceMap()}"/>
				</form>
				<button id="update">Update</button>
				<button id="delete">Delete</button>


			</section>
			<section class="products">
				<h2>Products</h2>
				<table>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Image</th>
						<th>Maximum Quantity</th>
						<th>Price</th>
						<th>Category</th>
					</tr>
					<tr th:each="product : ${currency.pricedProducts}" th:object="${product}">
						<td>
							<a th:href="@{'/admin/categories/' + *{category.id} + '/products/' + *{id}}" th:text="*{name}" />
						</td>
						<td th:text="*{type}" />
						<td>
							<img th:src="*{image}" />
						</td>
						<td th:text="*{maximumQuantity}" />
						<td th:text="*{price}" />
						<td>
							<a th:href="@{'/admin/categories/' + *{category.id}}" th:text="*{category.name}" />
						</td>
					</tr>
				</table>
			</section>
		</main>
	</div>
</body>

</html>