:root {
	--transition-duration: 300ms;
}

.icon.accordion {
	width: 40px;
	height: 40px;
}

.icon.accordion::before {
	width: 20px;
	height: 2px;
	background-color: black;
	content: "";
	position: absolute;
	transform-origin: right;
	transition-duration: var(--transition-duration);
	transform: rotate(45deg);
}

.icon.accordion::after {
	width: 20px;
	height: 2px;
	background-color: black;
	content: "";
	position: absolute;
	transform-origin: left;
	transition-duration: var(--transition-duration);
	transform: rotate(-45deg);
}

.icon.accordion.expanded::before {
	width: 40px;
	margin-top: 33px;
	margin-left: -6px;
}

.icon.accordion.expanded::after {
	width: 40px;
	margin-left: 6px;
	margin-top: 33px
}

.icon.accordion.collapsed::before {
	margin-top: 26px;
}

.icon.accordion.collapsed::after {
	margin-top: 26px;
	margin-left: 20px;
}