:root {
	--accordion-transition-duration: 300ms;
	--dichotomous-product-transition-duration: 200ms;
}

.icon {
	color: black;
	cursor: pointer;
}

.icon.hidden {
	pointer-events: none;
	opacity: 0;
}

.icon::before {
	content: "";
	position: absolute;
	background-color: currentColor;
}

.icon::after {
	content: "";
	position: absolute;
	background-color: currentColor;
}

.icon.accordion {
	width: 40px;
	height: 40px;
}

.icon.accordion::before {
	width: 20px;
	height: 2px;
	transform-origin: right;
	transform: rotate(45deg);
	transition-duration: var(--accordion-transition-duration);
}

.icon.accordion::after {
	width: 20px;
	height: 2px;
	transform-origin: left;
	transform: rotate(-45deg);
	transition-duration: var(--accordion-transition-duration);
}

.icon.accordion.expanded::before {
	width: 40px;
	margin-top: 33px;
	margin-left: -6px;
}

.icon.accordion.expanded::after {
	width: 40px;
	margin-left: 6px;
	margin-top: 33px
}

.icon.accordion.collapsed::before {
	margin-top: 26px;
}

.icon.accordion.collapsed::after {
	margin-top: 26px;
	margin-left: 20px;
}

.icon.dichotomous-product {
	width: 30px;
	height: 30px;
}

.icon.dichotomous-product::before {
	width: 25px;
	height: 2px;
	margin-top: 13px;
	margin-left: 3px;
	transition-duration: var(--dichotomous-product-transition-duration);
	transition-timing-function: linear;
}

.icon.dichotomous-product::after {
	width: 2px;
	height: 25px;
	margin-top: 2px;
	margin-left: 14px;
	transition-duration: var(--dichotomous-product-transition-duration);
	transition-timing-function: linear;
}

.icon.dichotomous-product.x::before {
	transform: rotate(135deg);
}
 
.icon.dichotomous-product.x::after {
	transform: rotate(135deg);
}

.icon.quantified-product {
	height: 31px;
	width: 31px;
	border-radius: 50%;
	border: 2px black solid;
	background-color: hsla(358, 10%, 90%, 1);
	transition-duration: 200ms;
}

.icon.quantified-product:active {
	box-shadow: inset 0px 9px 15px -5px rgba(1, 1, 1, 0.3);
}

.icon.quantified-product::before {
	margin-top: 15px;
	width: 25px;
	height: 2px;
	margin-left: 3px;
}

.icon.quantified-product.plus::after {
	width: 2px;
	height: 25px;
	margin-left: 15px;
	margin-top: 3px;
}
