<!DOCTYPE html>
<html>

<head>
	<title>Pantry+ | Cart</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/cart.media-queries.css" /> -->
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
</head>

<body>
	<div class="container cart">
		<header>
			<nav>
				<ul>
					<li>
						<h2>
							<a href="/">Welcome</a>
						</h2>
					</li>
					<li>
						<h2>
							<a href="/settings">Settings</a>
						</h2>
					</li>
					<li>
						<h2>
							<a href="/shopping">Shopping</a>
						</h2>
					</li>
					<li class="current">
						<h2>Cart</h2>
					</li>
				</ul>
			</nav>
		</header>
		<div class="aside-main">
			<aside>
				<img th:replace="user-form :: img.logo" />
				<div th:replace="user-form :: div.address" />
				<div th:replace="shopping :: div.stats" />
				<a class="button" href="/email">Send Order</a>
			</aside>
			<main>
				<section class="line-item">
					<h3>Product</h3>
					<h3>Quantity</h3>
				</section>
				<section class="line-item" th:each="lineItem : ${lineItems}">
					<p th:text="${lineItem.product.name}" />
					<p>Included</p>
				</section>
				<section class="line-item" th:each="lineItem : ${countedLineItems}">
					<p th:text="${lineItem.product.name}" />
					<p th:text="${lineItem.quantity}" />
				</section>
			</main>
		</div>
		<footer th:replace="shopping :: footer" />
	</div>
</body>

</html>