<!DOCTYPE html>
<html>

<head>
	<title>Pantry+</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/animation.css" />
	<link rel="stylesheet" type="text/css" href="/css/slide-toggle.css" />
	<link rel="stylesheet" type="text/css" href="/css/shopping.media-queries.css" />
	<link rel="stylesheet" type="text/css" href="/css/indicator.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	<script type="text/javascript" src="/js/shopping.js"></script>
</head>

<body onload="initialize()">
	<div class="container shopping">
		<header>
			<nav>
				<ul>
					<li>
						<h2>
							<a href="/">Welcome</a>
						</h2>
					</li>
					<li>
						<h2>
							<a href="/settings">Settings</a>
						</h2>
					</li>
					<li class="current">
						<h2>Shopping</h2>
					</li>
					<li>
						<h2>
							<a href="/cart">Cart</a>
						</h2>
					</li>
				</ul>
			</nav>
		</header>
		<div class="aside-main">
			<aside>
				<img th:replace="user-form :: img.logo" />
				<div th:replace="user-form :: div.address" />
				<div class="stats">
					<p class="currency" th:id="'currency-' + ${currency.id}" th:each="currency : ${currencies}" th:object="${currency}">
						<span th:text="*{name} + ':'" />
						<span class="amountUsed" th:text="${cart.amountUsed(currency)}" />
						<span>/</span>
						<span class="allowance" th:text="${currency.allowanceOf(user.familySize)}" />
						<span th:text="*{unit}">
					</p>
				</div>
				<a class="button" href="/cart">
					Go to Cart
				</a>
			</aside>
			<main>
				<div th:each="category : ${categories}" class="category-items" th:if="${category.isVisibleTo(user)}">
					<section class="category">
						<h2 th:text="${category.name}" />
						<div class="icon accordion collapsed"></div>
					</section>
					<ul class="items hidden">
						<li th:id="'product-' + ${product.id}" th:value="${product.id}" class="item" th:each="product : ${category.products}" th:if="${product.isVisibleTo(user)}">
							<img class="product-image" th:src="${product.image}" draggable="false" />
							<h3 th:text="${product.name}" />
							<div class="interface" th:if="${product.getType() == 'Product'}">
								<div th:value="${product.id}" th:unless="${cart.has(product)}" class="icon dichotomous-product plus"></div>
								<div th:value="${product.id}" th:if="${cart.has(product)}" class="icon dichotomous-product x"></div>
							</div>
							<div class="interface" th:if="${product.getType() == 'LimitedProduct'}">
								<div th:value="${product.id}" class="icon quantified-product minus"></div>
								<p>
									<span th:text="${cart.getQuantityOf(product.id)}" />
									<span>/</span>
									<span th:text="${product.maximumQuantity}" />
								</p>
								<div th:value="${product.id}" class="icon quantified-product plus"></div>
							</div>
						</li>
					</ul>
				</div>
			</main>
		</div>
		<footer th:replace="user-form :: footer" />
	</div>
</body>

</html>