<!DOCTYPE html>
<html>
<head>
	<title>Welcome to BSFP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/animation.css"/>
	<link rel="stylesheet" type="text/css" href="/css/user-form.media-queries.css"/>
	<link rel="shortcut icon" href="images\favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="images\favicon.ico" type="image/x-icon"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
	<script type="text/javascript" src="/js/user-form.js"></script>
</head>
<body onload="initializeUserForm()">
	<div class="container user-form">
		<header>
			<nav>
				<ul>
					<li class="current">
						<h2>Form</h2>
					</li>
					<li>
						<h2>Shopping</h2>
					</li>
					<li>
						<h2>Cart</h2>
					</li>
				</ul>
			</nav>
		</header>
		<div class="aside-main">
			<aside>
				<img class="logo" src="/images/broad-street-logo.png"/>
				<div class="address">
					<p class="directions">Get directions to our pantry:</p>
					<a href="https://goo.gl/maps/hYbaW9JbYFr" target="_blank">
						<p class="address">
							760 E. Broad St, Columbus, OH 43205
						</p>
					</a>
				</div>
			</aside>
			<main>
				<h1>Welcome to Broad Street Food Pantry</h1>
				<h3>Please enter your information</h3>
				<form action="/user", method="POST" th:object=${user}>
					<label for="first-name">First name:</label>
					<input type="text" th:field="*{firstName}" maxlength="20" autofocus="true" required="true"/>

					<br />

					<label for="last-name">Last name:</label>
					<input type="text" th:field="*{lastName}" maxlength="20" required="true"/>

					<br />

					<label for="birthdate">Birthdate:</label>
					<input type="date" th:field="*{birthdate}" required="true"/>

					<br />

					<label for="address">Address:</label>
					<input type="text" th:field="*{address}" required="true"/>

					<p>Zip code:</p>
					<input type="text" th:field="*{zipCode}" size="5" maxlength="5" pattern="\d{5}"/>

					<p>Were you referred to this food pantry by one of the following: CELC, BSA, or COMPASS?</p>
					<select th:field="*{referral}" required="true">
						<option value="no referral">Not Referred</option>
						<option value="CELC">CELC</option>
						<option value="BSA">BSA</option>
						<option value="COMPASS">COMPASS</option>
					</select>

					<p>Total family size:</p>
					<input type="number" th:field="*{familySize}" min="1" max="9"/>

					<p>Children age 3 or younger:</p>
					<input type="checkbox" th:field="*{hasInfants}"/>
					
					<p>Children between the ages of 4 and 17:</p>
					<input type="number" th:field="*{schoolAgeChildren}" min="0" max="9"/>

					<p><input type="submit" value="Save Information"/></p>
				</form> 
			</main>
		</div>
		<footer>
			<small>Created by <a href="/about-us">NAPOSCA</a></small>
		</footer>
	</div>
</body>
</html>
